html {
	font-family: Helvetica Neue, Sans-Serif;
	font-weight: 100;
	background: #e6e6e6;
}



h1 {
	color: #333333;
	font-weight: 125;
	height: 5%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
}



footer {
	text-align: center;
    color: #333333;
    background: #e6e6e6;
    position: fixed;
    display: inline-block;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.15em;
}
